[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "fastapi[standard]>=0.119.1",
    "openai-agents>=0.4.1",
    "python-dotenv>=1.1.1",
    "qdrant-client>=1.16.1",
    "uvicorn>=0.38.0",
]
